<section class="registration-form">
    <h2> Register to Order a Pet</h2>
<div class="form-container">
    <form>
        <div class="label-container">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for petType>Pet Type:</label>
            <select id="petType" name="petType">
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="bird">Bird</option>
            </select>
        </div>
        <div class="button-container">
        <button  type="submit">Submit</button>
        </div>
    </form>
</div>
</section>